body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App-header {
  margin: 30px 0;
}

.Main-img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.app-footer {
  text-align: center;
  margin: 30px 0;
}
